:root {
    --dark-bg-color: #1F2937;
    --button-color: #3882F6;
    --quote-section-bg-color: #E5E7EB;
    --light-text-color: #F9FAF8;
    

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    box-sizing: border-box;
}


header {
    display: flex;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    padding: 20px 32px;
}
header .content {
    align-items: center;
}
.content {
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    margin: auto;
    flex: 1 1 auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

header a {
    font-size: 18px;
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: 200;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}


.hero {
    display: flex;
    background-color: var(--dark-bg-color);
    color: var(--quote-section-bg-color);
    padding: 100px 32px;
}
.hero .content {
    gap: 24px;

}

.hero img {
    flex:1 1 auto;
    /* width: 230px; */
}
.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 8px;
}

button {

    color: var(--light-text-color);
    background-color: var(--button-color);
    padding: 8px 36px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
}

.hero button {
    border: none;
}


.info {
    padding: 64px 64px;
    text-align: center;
}

.info h2 {
    color: var(--dark-bg-color);
    font-size: 36px;
    font-weight: 900;
}

.info .features {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    font-size: 18px;
    gap: 36px;
}

.features img {
    width: 175px;
    height: auto;
    border-radius: 16px;
    border: var(--button-color) 4px solid;

}

.features p {
    width: 175px;
    font-weight: lighter;
}

.quote {
    background-color: var(--quote-section-bg-color);
    padding: 100px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.content.narrow {
    max-width:768px;
}
.quote .content {
    flex-direction: column;
}
.quote .author {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

.cta {
    background-color: var(--button-color);
    margin: 100px auto;
    max-width: 1024px;
    padding: 64px 32px;
    color: var(--light-text-color);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.cta p {
    font-weight: lighter;
}

.cta button {
    border: var(--light-text-color) 1px solid;
}

footer {
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    font-weight: lighter;

    height: 64px;
    display: flex;
    justify-content: center;

    align-items: center;
}