
:root {
    --dark-bg-color: #1F2937;
    --button-color: #3882F6;
    --quote-section-bg-color: #E5E7EB;
    --light-text-color: #F9FAF8;
    
}

* {
    margin: 0;
    padding:0;
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    align-items: center;
    padding: 16px 32px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: lighter;
}

header .logo {
    font-size: 24px;
    
}


.hero {
    display: flex;
    background-color: var(--dark-bg-color);
    color: var(--light-text-color);
    padding: 64px 32px;
    gap: 16px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero p {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 8px;
}
.hero button {
    color: var(--light-text-color);
    background-color: var(--button-color);
    padding: 8px 24px;
    border-radius: 6px;
    border:none;
}


.info {
    padding: 32px 64px ;
    text-align: center;
}
.info h2 {
    color: var(--dark-bg-color);
    font-size: 36px;
    font-weight: 900;
}
.info .features {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    font-size: 18px;
    gap:16px;
}

.features img {
    width: 175px;
    height: auto;
    border-radius: 16px;
    border:var(--button-color) 5px solid;

}
.features p {
    width: 175px;
}

.quote {
    background-color: var(--quote-section-bg-color);
    padding: 32px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
.quote .author {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}